<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="og:title" content="{{ site.name }}"/>
    <meta name="og:description" content="{{ site.description }}"/>
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="{{ site.url }}"/>
    <meta name="og:image" content="{{ site.url }}/assets/banner.png"/>
    <link rel="icon" href="/assets/file-symlink-file.svg">
</head>
<body style="padding-left: 20px">
{{ content }}

{% assign redirects = site.shortlinks %}

{% for redirect in redirects %}
<p><a href="{{ redirect.url }}">{{ redirect.url }}</a> - <a href="{{ redirect.target }}">{{ redirect.target }}</a></p>
{% endfor %}

<h5>View source on <a href="https://github.com/frc2204/shortlinks">GitHub</a></h5>
</body>
</html>